@model FCore.Common.Models.Members.FamilyMemberModel

<div style="position:absolute center;  display:block; height:50px; width:100%; margin-bottom:3%; margin-top:3%">@Model.About</div>

<div class="price-table-button-holder" style="display:inline; ">
    <button class="btn btn-info" style="width:30%; background-color:#43b98a; border-color:#43b98a">
        @Html.ActionLink("Edit about", "EditAbout", "Config", Model, new { @from = "Get", @style = "color:white" })
    </button>
</div>