@model FCore.Common.Models.Videos.VideoModel

@using (Ajax.BeginForm("EditVideoDesc", "Video", Model.Id, new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "videoDescDiv-" + Model.Id.ToString()
}))
{
    <span>
        <input type="text" placeholder="@Model.Description" autofocus required name="newDesc" style="cursor:text; max-width:200%; width:60%; line-height:5px; border:0px; margin-bottom:0.2%; background-color:#75c1f7"/>
    </span>
    <span>
        <input class="btn pull-right" type="submit" value="Save" style="line-height:6px; background-color:#75c1f7"/>
    </span>
}
