@model FCore.Common.Models.Videos.VideoModel

@using (Ajax.BeginForm("EditVideoDesc", "Video", Model.Id, new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "videoDescDiv-" + Model.Id.ToString()
}))
{
    <div class="flex-container">
        <div class="flex-item text-input-flex-item">
            <em>
                <input type="text" value="@Model.Description" autofocus name="newDesc"/> 
            </em>
        </div>
        <div class="flex-item save-desc-flex-item">
            <em>
                <input class="btn" type="submit" value="Save" /> 
            </em>
        </div>
    </div>
}
