@model ICollection<FCore.Common.Models.Videos.VideoLibraryModel>

@{ 
    foreach (var library in Model)
    {
        foreach (var video in library.Videos)
        {
            <div>
                <span>
                    @video.Description
                </span>
            </div>            
        }
    }
}
