@model FCore.Common.Models.Videos.VideoModel

@using (Ajax.BeginForm("EditVideoDesc", "Video", Model, new AjaxOptions()
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "videoDescDiv-" + Model.Id.ToString()
}))
{
    <span>
        @Model.Description
    </span>
    <span>
        <input class="btn pull-right" type="submit" value="Edit description" style="line-height:5px; margin-right:11%; background-color:#75c1f7"/>
    </span>
    <span>
        @Html.ActionLink("Delete video", "DeleteVideo", "Video",
            new { @style = "margin-right:-26%; color:chocolate", @class = "pull-right" } )
    </span>
}

@*<script>
        function loadEditOnClick(){
            var url = '@Url.Action("EditVideoDesc", Model)';
            $('#videoDescContent').load(url);
        }
    </script>*@