@model FCore.Common.Models.Videos.VideoModel

@using (Ajax.BeginForm("EditVideoDesc", "Video", Model, new AjaxOptions()
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "videoDescContent"
}))
{
    <td>
        @Model.Description
    </td>
    <td>
        @*@Html.ActionLink("Edit description", "EditDesc", "Video", new { @style = "margin:-300%" })*@
        @*<a style="margin:-300%" onclick="loadEditOnClick()">Edit description</a>*@
        <input type="submit" value="Edit description" style="margin:-300%" />
    </td>
}

@*<script>
    function loadEditOnClick(){
        var url = '@Url.Action("EditVideoDesc", Model)';
        $('#videoDescContent').load(url);
    }
</script>*@