@model FCore.Common.Models.Videos.VideoModel

@using (Ajax.BeginForm("EditVideoDesc", "Video", Model, new AjaxOptions()
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "videoDescDiv-" + Model.Id.ToString()
}))
{
    <div class="flex-container">

        <div class="flex-item desc-flex-item">
            <em>@Model.Description</em>
        </div>

        <div class="flex-item edit-flex-item">
            <em>
                <input class="btn" type="submit" value="Edit description" />
            </em>
        </div>

        <div class="flex-item del-flex-item">
            <em>
                @Html.ActionLink("Delete video", "DeleteVideo", "Video", Model,
                    new { @id = "delVideo", @onclick = "confirmDelete(this)" }) 
            </em>
        </div>

    </div>
}
