@model FCore.Common.Models.Members.FamilyMemberModel

@using (Html.BeginForm("AddProfileImage", "AddChildWizard", 
    Model, FormMethod.Get, new { @enctype = "multipart/form-data" }))
{
    <div style="margin-top:5%">

        <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">@Html.LabelFor(m => Model.ProfileImagePath)</div>
        <div class="bot-border"></div>

        <div class="col-sm-12" style="margin-top:2%; margin-bottom:2%">

            <div style="display:inline">
                <input id="input_file" type="file" name="ProfileImagePath" style="display:inline; width:25%; margin-top:5%" />
                @*<span id="file_sel_path">No file selected</span>*@
                @*<button id="input_file_btn" class="btn btn-info" style="max-height:25px; padding:0.3%; width:20%; margin-top:10%; margin-left:-15%">Choose image</button>*@
                @Html.ValidationMessageFor(m => Model.ProfileImagePath)
            </div>

            <img alt="User Pic" src="@Url.Content("~/Images/Defualt/profile_defualt.jpg")" id="profile-image-defualt" class="img-circle" style="cursor:auto; display:inline; margin-left:40%">

        </div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <br />

        <input class="btn btn-info" type="submit" value="Next step  >>" style="margin-left:81%" />
    </div>
}