@model FCore.Common.Models.Users.UserModel

<form>
    <div class="clearfix" style="margin-top:5%"></div>
    <div style="margin-left:2%; font-weight:bold; font-size:x-large; color:#6fadbe">
        Congratulations @Model.Member.FirstName, 
        <br/>
        Regestration completed!
    </div>
    <div class="bot-border"></div>
    <div style="margin-top:2%; margin-bottom:5%">
        <div class="col-sm-12">
            Your @Session["rel"], @ViewData["relativeName"],
            <br/>
            will be sent a confirmation request.
            <br />
            After athorization, you will get an acceptence mail,
            <br />
            and will be able to log-in to 'FAMILY-CORE'.
        </div>
        <div class="clearfix"></div>
        <div class="bot-border" style="margin-top:2%"></div>
    </div>
</form>
