@model FCore.Common.Models.Users.UserModel

@{
    Layout = "~/Views/Shared/LoginReg_Layout.cshtml";
}

<div class="modal-dialog" style="width:38%">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Register</h1>
        </div>
        <div id="register_wizard">
            @{ Html.RenderPartial("AddInitialInfo"); }
        </div>
    </div>
</div>

