@charset 'utf-8';

@font-face{
    font-family: Heathergreen;
    src: url(../fonts/Heathergreen.otf);
}

::selection, -moz-selection {
    background-color: #8eaaee
}

input.data:required{
    background-color: #ff0000
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

    font-family: Heathergreen
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* video library 'add' button */
.custom-button {
    line-height:6px; 
    width:170px;
    height:60px; 
    max-width:100%; 
    margin-left:72.5%; 
    margin-bottom:5%; 
    border-radius:3px;

    color: #fff;
    background-color: #4386f1;
    padding: 2%;
    transition: all 0.4s ease-in-out;

    display: inline;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 5px solid #4386f1;
}

.custom-button:hover {
    color: #fff;
    background-color: #4386f1 ;
    border-color: #5bc0de;
    border-width:5px;
    text-decoration:none;
    font-size:14px;
    text-shadow:3px -3px 1px #5bc0de;
}