@charset 'utf-8';

@font-face {
    font-family: Heathergreen;
    src: url(../fonts/Heathergreen.otf);
}

::selection, -moz-selection {
    background-color: #8eaaee;
}

input.data:required {
    background-color: #ff0000;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Heathergreen;
}

/*:required:valid{
    background-color:aqua
}

:invalid{
    background-color:coral
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* video library 'add' button */
.add-video-button {
    border: 2px solid #75c1f7;
    background-color: #75c1f7;
    border-radius: 3px;
    padding: 5px;
    color: white;
    float: left;
    line-height: 19.5px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    /*transition: all 0.6s ease-in-out;*/
    
}

    .add-video-button:hover {
        /*color: #fff;
    background-color: #4386f1;
    border-color: #ef4a7c;
    border-width: 3px;
    text-decoration: none;
    font-size: 14px;*/
    }

.video-search-panel {
    display: inline;
}

.add-search-form {
    display: inline;
}

.search-btn {
    border: 2px solid #75c1f7;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    line-height: 27px;
    float: right;
    color: white;
    transition: all 0.6s ease-in-out;
    cursor: pointer;

    
}

    .search-btn :hover {
        /*color: #fff;
    background-color: #4386f1;
    border-color: #ef4a7c;
    border-width: 3px;
    text-decoration: none;
    font-size: 14px;*/
    }

.search-input {
    float: left;
    height: 33px;
    border: 2px solid #75c1f7;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 350px;
    max-width: 350px;

    
}

/* flex */
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    color: #000;
    font-size: 1.2em;
    text-align: center;
}

.desc-flex-item {
    order: 1;
    align-self: flex-end;
    width: 71.5%;
    text-align: left;
}

.edit-flex-item {
    order: 2;
    align-self: flex-end;
}

.edit-flex-item input {
    background-color: #75c1f7;
    line-height: 10px;
    margin-bottom:1px;
    color:white
}

.text-input-flex-item{
    flex-grow: 1
}

.text-input-flex-item input{
    width: 400px;
    max-width: 500px;
    float: left;
    line-height: 6px;
    border: 2px solid #75c1f7;
    border-radius: 3px;
}

.save-desc-flex-item {
   align-self:flex-end 
}

.save-desc-flex-item input{
    background-color: #75c1f7;
    line-height: 10px;
    margin-bottom:1px;
    color:white;
}

.del-flex-item {
    order: 3;
    align-self: flex-start;
    flex-grow:1;
    display:flex;
    flex-direction:column
}

.del-flex-item a{
    color: white;
    background-color: chocolate;
    border-radius: 3px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    text-decoration: none;
    margin-left: 10px;
}

#delVideo:hover {
    text-decoration: none;
    color: brown;
}

.flex-item:first-child {
    /*background-color: #A62E5C;*/
}

.flex-item:nth-child(2) {
    /*background-color: #9BC850;*/
}

.flex-item:nth-child(3) {
    /*background-color: #675BA7;*/
}

.add-video-flex-item {
    flex-grow: 1;
}

.search-btn-flex-item {
    flex-grow: 1;
}

.search-input-flex-item {

}
